<!DOCTYPE html>
<html>
	<head>
            <meta charset="UTF-8" />
            <title>{% block title %}Staff-Me!{% endblock %}</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
            <link rel="stylesheet" href="css/font-awesome.min.css">
            <!-- Generic page styles -->
            <link rel="stylesheet" href="css/style.css">
            <script src="/js/jquery.js"></script>
            <script src="/js/jquery.mobile-1.4.5.min.js"></script>
            <script src="/js/scripts.js"></script>
            {% block stylesheets %}{% endblock %}
	</head>
	<body>
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
	</body>
</html>
