{% extends 'AppBundle:base.html.twig' %}

{% block body %}
        <div data-role="page" id="adminpage">
        <div data-role="header" class="topbar">
            <a href="#left-panel" data-icon="bars"></a>
            <img src="/images/logoTopBar.png" alt="staff-me">
            <a href="#" data-icon="search" id="searchTop"></a>
        </div><!-- /header -->
        {{ include('AppBundle:default:panelmenu.html.twig') }}
        <div data-role="content" class="ui-content">
            <h2>Administration</h2>
            
            <div class="allUserEditList">
            </div>
            
            <button class="exportConsultantsCSV">Export <i class="fa fa-table" aria-hidden="true"></i></button>
            <h3>Import Files</h3>
            <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Select files...</span>
                    <!-- The file input field used as target for the file upload widget -->
                    <input id="fileupload" type="file" name="files[]" data-url="{{ oneup_uploader_endpoint('datas') }}" multiple accept="text/csv"/>
            </span>
            <br>
            <br>
            <!-- The global progress bar -->
            <div id="progress" class="progress">
                    <div class="progress-bar progress-bar-success"></div>
            </div>
            <!-- The container for the uploaded files -->
            <div id="files" class="files"></div>
	</div>
        <div data-role="footer">
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
