{% extends 'AppBundle:base.html.twig' %}

{% block body %}
    <div id="homepage">
        <div id="backgroundImage">
        </div>

        <div id="container">
            <h3>Welcome to</h3>
            <div id="logoHome">
                <img src="/images/logo_home.png" alt="staff-me">
            </div>
            <h4>Find the perfect match to your need</h4>
            <a id="loginButton" href="/search" class="ui-btn ui-corner-all" data-theme="b" data-transition="slide">login</a>
        </div>
    </div>
{% endblock %}