{% extends 'AppBundle:base.html.twig' %}

{% block body %}
    <div data-role="header" id="topbar">
            <a href="#" data-icon="bars"></a>
            <h1>Staff-ME</h1>
            <a href="/" data-icon="power"></a>
    </div> 
    <div role="main" class="ui-content">
        </div>
    <div data-role="footer">
    </div>
    <script type="text/javascript">
    </script>
{% endblock %}