{% extends 'AppBundle:base.html.twig' %}

{% block body %}
    <div data-role="header" id="topbar">
        <a href="#" data-icon="bars"></a>
        <h1>Staff-ME</h1>
        <a href="/" data-icon="power"></a>
    </div>
    <div role="main" class="ui-content">
        <div id="result_top" class="ui-grid-c">
            <button class="ui-block-a">SORT</button>
            <button class="ui-block-b">FILTER</button>
            <button class="ui-block-c">DETAILS</button>
            <div id="nav_consultant" class="ui-block-d ui-grid-b">
                <a class="ui-block-a" href="#"> < </a>
                <span class="ui-block-b"> 1/12 </span>
                <a class="ui-block-c" href="#"> > </a>
            </div>
        </div>
        <div id="result_list">    
        </div>
        <div id="result_details">    
        </div>
    </div>
    <div data-role="footer">
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/result.js"></script>
    <script type="text/javascript">
    </script>
{% endblock %}