{% extends 'AppBundle:base.html.twig' %}

{% block body %}
    <div data-role="page" id="searchpage">
        <div data-role="header" class="topbar">
            <a href="#left-panel" data-icon="bars"></a>
            <img src="/images/logoTopBar.png" alt="staff-me">
            <a href="#" data-icon="search" id="searchTop"></a>
        </div><!-- /header -->
        {{ include('AppBundle:default:panelmenu.html.twig') }}
        <div data-role="content" class="ui-content">
            <form id='formSearch' method="GET" action="#" data-transition="slide" data-dom-cache="false">
                <div class="ui-field-contain ui-widget">
                        <label for="inputKeywords">Keywords (separate by comma)</label>
                        <input name="inputKeywords" data-clear-btn="true" id="inputKeywords" placeholder="example : Java, AGILE, ..." type="text" maxlength="300">
                </div>
               <!-- <div class="ui-field-contain">
                        <label for="inputFunctions">FUNCTION(separate by comma)</label>
                        <input name="inputFunctions" id="inputFunctions" placeholder="example : Developpeur, Chef de projet, ..." value="" type="text">
                </div>-->
                <div data-role="rangeslider" data-track-theme="a" data-theme="b">
                  <label for="rangeAvailability-a">Availability</label>
                  <input name="rangeAvailability-a" id="rangeAvailability-a" min="0" max="8" value="0" type="range" class="findRange"/>
                  <label for="rangeAvailability-b">Availability</label>
                  <input name="rangeAvailability-b" id="rangeAvailability-b" min="0" max="8" value="4" type="range" class="findRange"/>
                </div>
                <div id="availabilityValues">
                        <div id="availabilityValueA">ASAP</div>
                        <div id="availabilityValueB">4 weeks</div>
                </div>
                <button id="buttonValidSearch" data-theme="b">Search</button>
                <button id="buttonMoreFilter" data-theme="b">More filter <i class="fa fa-chevron-right"></i></button>
                <div id="moreFilter">
                    <fieldset data-role="controlgroup"  data-type="horizontal" data-role="fieldcontain">
                        <legend>On mission since :</legend>
                        <input type="radio" name="valueOnMissionSince" id="onMissionSince-choice1" value="-1" />
                        <label for="onMissionSince-choice1">-1 year</label>
                        <input type="radio" name="valueOnMissionSince" id="onMissionSince-choice2" value="-2"  />
                        <label for="onMissionSince-choice2">-2 years</label>
                        <input type="radio" name="valueOnMissionSince" id="onMissionSince-choice3" value="-3"  />
                        <label for="onMissionSince-choice3">-3 years</label>
                        <input type="radio" name="valueOnMissionSince" id="onMissionSince-choice4" value="3"  />
                        <label for="onMissionSince-choice4">+3 years</label>
                    </fieldset>
                    
                    <fieldset data-role="controlgroup"  data-type="horizontal" data-role="fieldcontain">
                        <legend>English level :</legend>
                        <input type="radio" name="language-level" id="language-choice1" value="1" />
                        <label for="language-choice1">BEGGINNER</label>
                        <input type="radio" name="language-level" id="language-choice2" value="2"  />
                        <label for="language-choice2">INTERMEDIATE</label>
                        <input type="radio" name="language-level" id="language-choice3" value="3"  />
                        <label for="language-choice3">CURRENT</label>
                        <input type="radio" name="language-level" id="language-choice4" value="4"  />
                        <label for="language-choice4">MATTERNAL</label>
                    </fieldset>
                    
                    <!--
                    <div class="ui-field-contain">
                        <label for="language-other">Other :</label>
                        <input name="language-choice[]" id="language-other" value="" placeholder="Other languages..." type="text" maxlength="300">
                    </div>
                    <fieldset data-role="controlgroup" data-type="horizontal" data-role="fieldcontain">
                        <legend>ISU :</legend>
                        <input type="checkbox" name="isu-choice[]" id="isu-choice1" value="U1" />
                        <label for="isu-choice1">U1</label>
                        <input type="checkbox" name="isu-choice[]" id="isu-choice2" value="U2" />
                        <label for="isu-choice2">U2</label>
                        <input type="checkbox" name="isu-choice[]" id="isu-choice3" value="U3" />
                        <label for="isu-choice3">U3</label>
                        <input type="checkbox" name="isu-choice[]" id="isu-choice4" value="U4" />
                        <label for="isu-choice4">U4</label>
                        <input type="checkbox" name="isu-choice[]" id="isu-choice5" value="ENTSOL" />
                        <label for="isu-choice5">ENTSOL</label>
                        <input type="checkbox" name="isu-choice[]" id="isu-choice6" value="DIGITAL" />
                        <label for="isu-choice6">DIGITAL</label>
                    </fieldset>
                    -->
                    <fieldset data-role="controlgroup" data-type="horizontal" data-role="fieldcontain">
                        <legend>Experience :</legend>
                        <input type="checkbox" name="exp-choice[]" id="exp-choice1" value="JUNIOR" />
                        <label for="exp-choice1">Junior</label>
                        <input type="checkbox" name="exp-choice[]" id="exp-choice2" value="MIDDLE" />
                        <label for="exp-choice2">Middle</label>
                        <input type="checkbox" name="exp-choice[]" id="exp-choice3" value="SENIOR" />
                        <label for="exp-choice3">Senior</label>
                    </fieldset>
                    <button id="buttonValidSearch2" data-theme="b">Search</button>
                </div>
            </form>
            
            <div class="result_top">
                <div class="ui-grid-a result_search_button">
                    <button class="ui-block-a" id="buttonSearchBack"><i class="fa fa-caret-left"></i> Back to search</button>
                    <button class="ui-block-b"><i class="fa fa-caret-down" style="float: right"></i> Sort by</button>
                </div>
                <div class="ui-grid-a result_search_button">
                    <div id="nav_consultant_matches" class="ui-block-a">
                        5 matches
                    </div>
                    <div class="ui-block-b containing-element">
                            <label for="flip-saveSearch" id="labelSaveSearch">Save this research</label>
                            <select name="flip-saveSearch" id="flip-saveSearch" data-theme="b" data-role="slider">
                                    <option value="off">Off</option>
                                    <option value="on"><i class="fa fa-check"></i></option>
                            </select>
                    </div>
                </div>
                <button class="buttonBackList"><i class="fa fa-caret-left" aria-hidden="true"></i>Back to list</button>
                <div class="ui-grid-b nav_consultant">
                        <a class="ui-block-a" href="#"> < </a>
                        <span class="ui-block-b"> 1/12 </span>
                        <a class="ui-block-c" href="#"> > </a>
                </div>
            </div>
            
            <div class="result_list">    
            </div>
            
            <div class="result_details">    
            </div>
        
        </div>
        <div data-role="footer">
        </div
        
    </div>
{% endblock %}

{% block javascripts %}
        
{% endblock %}